<section class="contact">
  <a href="mailto:cristiancajiaos@github.io"
     target="_blank"
     ngbTooltip="Correo">
    <div class="link">
      <fa-icon [icon]="faEnvelope"></fa-icon> cristiancajiaos@outlook.com
    </div>
  </a>
  <a href="https://www.linkedin.com/in/cristiancajiaos/"
     target="_blank"
     ngbTooltip="Perfil de LinkedIn. Link se abrirá en una pestaña nueva.">
    <div class="link">
      <fa-icon [icon]="faLinkedin"></fa-icon> Cristian Cajiao Skarnic
    </div>
  </a>
</section>

