<section class="links">
  <a href="https://cristiancajiaos.github.io/portfolio"
     target="_blank"
     ngbTooltip="Portafolio de proyectos. Link se abrirá en una pestaña nueva.">
    <div class="link">
      <fa-icon [icon]="faBriefcase" [fixedWidth]="false"></fa-icon> Portafolio de proyectos
    </div>
  </a>
  <a href="https://github.com/cristiancajiaos"
     target="_blank"
     ngbTooltip="Perfil de GitHub. Link se abrirá en una pestaña nueva.">
    <div class="link">
      <fa-icon [icon]="faGithub" [fixedWidth]="false"></fa-icon> GitHub
    </div>
  </a>
</section>
